name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup go
        uses: actions/setup-go@v6
      - name: build
        run: go build ./cmd/geofabrik
      - name: lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: latest
      - name: test
        run: go test -v ./...
